.form .ant-space-item {
    margin-right: 20px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    
}
.form-mechanic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-space-gap-col-small {
    margin-bottom: 20px;
}


