.login {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 70%;

}
.login-container {
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.87);
}

.login .image{
  flex: 1;
  object-position: left;
  background-image: url('../assets//mechanic_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:50%
}

.login-card {
  flex:1;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 35%;
  backdrop-filter: blur(1px);
}

.login-card .login-form {
  width: 60%;
  margin: 0 auto;
}

.login-card .ant-btn {
  width: 40%;
  margin-top: 35px;
  margin-bottom: 5px;
  height: 5vh;
  background-color: red;
}