.main-page {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-page .ant-picker-calendar {
    font-size: 20px;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
    height: 85px !important;
    width: 85% !important;
}