.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.register-container {
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.87);
}

.register .image{
  flex: 1;
  background-image: url('../assets//mechanic.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:50%
}
.register-card {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 10%;
  backdrop-filter: blur(1px);
}

.register-card .register-form {
  width: 60%;
  margin: 0 auto;
}

.register-card .ant-btn {
  width: 40%;
  margin-top: 35px;
  margin-bottom: 5px;
  height: 5vh;
  background-color: red;
}
